*.go linguist-language=Go
*.js linguist-language=JavaScript
*.html linguist-language=HTML
*.css linguist-language=CSS

# Force GitHub to analyze these folders
IIIT-Project/** linguist-detectable=true
Auto-App/** linguist-detectable=true
templates/** linguist-detectable=true
scripts/** linguist-detectable=true
public/** linguist-detectable=true

